@model EscolaOnline.Models.Assignment

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StudentName"></label>
        <input asp-for="StudentName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TeacherName"></label>
        <input asp-for="TeacherName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Grade"></label>
        <input asp-for="Grade" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <input asp-for="Class" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FileUpload"></label>
        <input asp-for="FileUpload" type="file" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
