<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EscolaOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>   
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">EscolaOnline</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Início</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="AcademicActivities" asp-action="Index">Calendário Acadêmico</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Videos" asp-action="Index">Vídeos</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Events" asp-action="Index">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="News" asp-action="Index">Notícias</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Assignments" asp-action="Index">Atividades Escolares</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="container py-4">
        @RenderBody()
    </main>
    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container">© 2023 EscolaOnline</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
