@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Bem-vindo ao Colégio Estadual Deputado Henrique Brito</h1>
    <p class="lead text-center">Explore nossa rica coleção de recursos acadêmicos e educacionais.</p>


    <div class="card mb-3">
        <img src="https://proficienciaconsultoria.com.br/wp-content/uploads/2016/02/bg_artigos.jpg" class="card-img-top" alt="Artigo Acadêmico 1">
        <div class="card-body">
            <h5 class="card-title">Título do Artigo 1</h5>
            <p class="card-text">Este é um resumo do primeiro artigo acadêmico. Este artigo trata de temas importantes para o desenvolvimento educacional.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
    </div>


    <div class="card mb-3">
        <img src="https://doity.com.br/blog/app/uploads/2022/05/11-tipos-de-trabalhos-academicos-que-todo-estudante-deve-conhecer.png" class="card-img-top" alt="Artigo Acadêmico 2">
        <div class="card-body">
            <h5 class="card-title">Título do Artigo 2</h5>
            <p class="card-text">Este é um resumo do segundo artigo acadêmico. O foco deste artigo é discutir as últimas tendências na educação moderna.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
    </div>


    <div class="card mb-3">
        <img src="https://projetoacademico.com.br/wp-content/uploads/2019/01/banner-tipo-artigos.png" class="card-img-top" alt="Artigo Acadêmico 3">
        <div class="card-body">
            <h5 class="card-title">Título do Artigo 3</h5>
            <p class="card-text">Resumo do terceiro artigo, explorando inovações tecnológicas no ambiente educacional.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
    </div>
</div>
